<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER LOGIN OK!</h1>
        <h2><i>Welcome {{this.username}}</i></h2>
        <br>
        {{!-- <h3>email: {{this.email}}</h3> --}}
        {{!-- <h4>visits: {{counter}}</h4> --}}
        {{!-- <form action="/logout" method="post"> --}}
            <button class="btn btn-danger my-5" onclick="location.href = '/logout'">LOGOUT</button>
        {{!-- </form> --}}
    </div>
</div>
